* {
  --link-color: #ff4500;
  --visited-link-color: #ff7d4d;
}

html {
	font-family: Roboto;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	color: white;
	margin: 50px;
}

main {

}

video {
	outline: 0;
 	border: none;
 	-moz-outline-style: none
}

a:link {
  position: relative;
	color: var(--link-color);
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	--link-color: var(--visited-link-color);
  color: var(--link-color);
}
a:after {
  content: '';
  position: absolute;
  width: 0; height: 0;
  left: 50%; bottom: 0;
  border-top: 0.15em solid var(--link-color);
  transform: translate(-50%, 0);
  transition: width 0.2s;
}
a:hover:after {
  width: 100%;
}

.parallax {
	position: relative;
	width: 100%;
	padding-top: 50%;
	/*height: 800px;*/

	overflow: hidden;
}
.parallax_element {
	position: absolute;

	width: 100%;
}

.column1 {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;

}
.column2 {
	padding: 20px;
}

.section1 {
	padding-top: 200px;
	padding-bottom: 200px;
	color: white;
	background-color: black;
}
.section2 {
	color: white;
	background-color: black;
}
.section3 {
	color: white;
	background-color: black;
	padding: 200px 0;
}

.grid2_1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
}
.grid3_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}

.hidable {
	padding-top: 48px;
	padding-bottom: 48px;
	cursor: pointer;
}
.hidable > * {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	cursor: auto;
}

.hidden:before {
	content: '';
	background-image: url('img/gui/up_arrow_lowres.png');
   background-size: 32px;
   width: 32px;
   height: 32px;
   display: inline-block;

	position: absolute;
	left: 50%;
	transform: translate(-50%, -105%);
	transition: 0.3s transform;
}
.hidden:hover:before {
	transform: translate(-50%, -130%);
}
.unhidden:before {
	content: '';
	background-image: url('img/gui/up_arrow_lowres.png');
   background-size: 32px;
   width: 32px;
   height: 32px;
   display: inline-block;

	position: absolute;
	left: 50%;
	transform: translate(-50%, -130%) rotate(180deg);
	transition: 0.3s transform;
}
.unhidden:hover:before {
	transform: translate(-50%, -105%) rotate(180deg);

}

.hidden:after {
	content: '';
	background-image: url('img/gui/up_arrow_lowres.png');
   	background-size: 32px;
   	width: 32px;
   	height: 32px;
   	display: inline-block;

	position: absolute;
	left: 50%;
	transform: translate(-50%, 5%) rotate(180deg);
	transition: 0.3s transform;
}
.hidden:hover:after {
	transform: translate(-50%, 30%) rotate(180deg);
}
.unhidden:after {
	content: '';
	background-image: url('img/gui/up_arrow_lowres.png');
   background-size: 32px;
   width: 32px;
   height: 32px;
   display: inline-block;

	position: absolute;
	left: 50%;
	transform: translate(-50%, 30%) rotate(0);
	transition: 0.3s transform;
}
.unhidden:hover:after {
	transform: translate(-50%, 5%) rotate(0);
}



.image_gallery {
	-webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
	overflow: hidden;
}

.image_gallery img {

	position: absolute;
	top: 0;
	left: 0;
}

#gallery1 {
	position: relative;
	width: 800px;
	height: 800px;
	margin-bottom: 50px;
	left: 50%;
	transform: translate(-50%, 0);

}

#navigation {
	position: fixed;
	right: 0px;
	padding: 0px;
	margin: 30px;
	width: 64px;
	height: 64px;
	top: 0;

	border-radius: 50%;
	transition: background-color 0.5s;
}
#navigation > *{
	position: absolute;
	width: 32px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#navigation:hover {
	background-color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
	transition: background-color 0.5s;
}
