html {
	font-family: Roboto;
}

body {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}
a:link {
	color: #5c5c5c;
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	color: #8f8f8f;
}
a:hover {
	color: #4d4d4d;
	text-decoration: underline;
}
article > section {
	padding: 0 20px;
	border: 1px solid #e0e0e0;
	margin-bottom: 30px;
}


#hr{
	border: none;
	border-bottom: 1px solid #cfcfcf;
	margin-top: 30px;
	margin-bottom: 20px;
}

header {
	background-color: #cce27f;
	padding: 10px;
	color: white;
	text-align: left;
	border: 2px solid #d9ee91;
	position: relative
}
header h1 {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 60px;
}
header hr { 
	border:none;
	margin-top: 10px;
	border-bottom: 2px solid white;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
header:after {
	content: '';
	display: block;
	width: 760px;
	height: 10px;	
	background: #e0e0e0;
	position: absolute;
	left: 20px;
	top: 100%;
}

main {
	padding: 0px 0px;
}
